In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
test = pd.read_csv('test.csv/test.csv')
train = pd.read_csv('train.csv/train.csv')
FAKE = pd.read_csv("fake_news_fake_true/News _dataset/Fake.csv")
TRUE = pd.read_csv("fake_news_fake_true/News _dataset/True.csv")
ForR = pd.read_csv("fake_or_real_news.csv/fake_or_real_news.csv")

In [15]:
#now add a column to FAKE with the value of False in each row call it label
FAKE['label'] = False
TRUE['label'] = True

In [16]:
FAKE.head(20)

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",False
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",False
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",False
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",False
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",False
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",False
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",False
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",False
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",False
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",False
10,"Papa John’s Founder Retires, Figures Out Raci...","A centerpiece of Donald Trump s campaign, and ...",News,"December 21, 2017",False
11,WATCH: Paul Ryan Just Told Us He Doesn’t Care...,Republicans are working overtime trying to sel...,News,"December 21, 2017",False
12,Bad News For Trump — Mitch McConnell Says No ...,Republicans have had seven years to come up wi...,News,"December 21, 2017",False
13,WATCH: Lindsey Graham Trashes Media For Portr...,The media has been talking all day about Trump...,News,"December 20, 2017",False
14,Heiress To Disney Empire Knows GOP Scammed Us...,Abigail Disney is an heiress with brass ovarie...,News,"December 20, 2017",False
15,Tone Deaf Trump: Congrats Rep. Scalise On Los...,Donald Trump just signed the GOP tax scam into...,News,"December 20, 2017",False
16,The Internet Brutally Mocks Disney’s New Trum...,A new animatronic figure in the Hall of Presid...,News,"December 19, 2017",False
17,Mueller Spokesman Just F-cked Up Donald Trump...,Trump supporters and the so-called president s...,News,"December 17, 2017",False
18,SNL Hilariously Mocks Accused Child Molester ...,"Right now, the whole world is looking at the s...",News,"December 17, 2017",False
19,Republican Senator Gets Dragged For Going Aft...,Senate Majority Whip John Cornyn (R-TX) though...,News,"December 16, 2017",False

In [17]:
#combine TRUE and FAKE
df = pd.concat([FAKE, TRUE]).reset_index(drop = True)

In [19]:
#add title to the end of text, and drop the title column
df['text'] = df['title'] + ' ' + df['text']
df = df.drop(['title'], axis=1)

In [21]:
#drop subject, and date values
df = df.drop(['subject', 'date'], axis=1)

In [22]:
df.head()

                                                text  label
0   Donald Trump Sends Out Embarrassing New Year’...  False
1   Drunk Bragging Trump Staffer Started Russian ...  False
2   Sheriff David Clarke Becomes An Internet Joke...  False
3   Trump Is So Obsessed He Even Has Obama’s Name...  False
4   Pope Francis Just Called Out Donald Trump Dur...  False

In [23]:
subset1 = df

In [24]:
#combine test and train
df = train
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [25]:
#drop author, append title to the start of the text and remove the title column
df = df.drop(['author'], axis=1)
df['text'] = df['title'] + ' ' + df['text']
df = df.drop(['title'], axis=1)

In [30]:
df.head(20)

                                                 text  label
0   House Dem Aide: We Didn’t Even See Comey’s Let...  False
1   FLYNN: Hillary Clinton, Big Woman on Campus - ...   True
2   Why the Truth Might Get You Fired Why the Trut...  False
3   15 Civilians Killed In Single US Airstrike Hav...  False
4   Iranian woman jailed for fictional unpublished...  False
5   Jackie Mason: Hollywood Would Love Trump if He...   True
6   Life: Life Of Luxury: Elton John’s 6 Favorite ...  False
7   Benoît Hamon Wins French Socialist Party’s Pre...   True
8   Excerpts From a Draft Script for Donald Trump’...   True
9   A Back-Channel Plan for Ukraine and Russia, Co...   True
10  Obama’s Organizing for Action Partners with So...   True
11  BBC Comedy Sketch "Real Housewives of ISIS" Ca...   True
12  Russian Researchers Discover Secret Nazi Milit...  False
13  US Officials See No Link Between Trump and Rus...  False
14  Re: Yes, There Are Paid Government Trolls On S...  False
15  In Major League Soccer, Argentines Find a Home...   True
16  Wells Fargo Chief Abruptly Steps Down - The Ne...   True
17  Anonymous Donor Pays $2.5 Million To Release E...  False
18  FBI Closes In On Hillary! FBI Closes In On Hil...  False
19  Chuck Todd: ’BuzzFeed Did Donald Trump a Polit...   True

In [29]:
#drop the id column
df.drop('id', axis=1, inplace=True)

In [27]:
#now set label values of one to false, and zero to true for the binary classification
df = df.replace({'label': {1: False, 0: True}})

In [31]:
subset2 = df

In [32]:
#combine the sub dataframes into one dataframe
df = pd.concat([subset1,subset2],axis=0)

In [34]:
df.describe()

                                                     text  label
count                                               65101  65698
unique                                              59237      2
top     Highlights: The Trump presidency on April 13 a...  False
freq                                                    8  33894

In [37]:
#export to csv
df.to_csv('data_Organized.csv', index=False)

In [38]:
#now we will clean the text data 
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import string
import re
stop_words = stopwords.words('english')
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
stemmer    = nltk.SnowballStemmer("english")

[nltk_data] Downloading package stopwords to /home/james/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [51]:
def preprocess(text):
    
    
    try:
        text = text.replace('\n', ' ')
        text = text.replace('\t', ' ')
        text = text.replace('  ', ' ')
        text = text.replace('   ', ' ')
        text = text.replace('    ', ' ')
        text = text.replace('     ', ' ')
        text = text.replace('      ', ' ')
        text = text.replace('       ', ' ')
        text = text.replace('        ', ' ')
        text = text.replace('         ', ' ')
        text = text.lower()
        text = re.sub('https?://\S+|www\.\S+', '', text) # remove urls
        text = re.sub('[%s]' % re.escape(string.punctuation), '', text) # remove punctuation
        text = re.sub('\n', '', text)
        text = re.sub('\w*\d\w*', '', text)

    #remove stopwords
        text = ' '.join(word for word in text.split() if word not in stop_words)    # Remove stopwords
        text = ' '.join(stemmer.stem(word) for word in text.split())   

    except:
        pass
    

    return text

In [52]:
df['text'] = df['text'].apply(lambda x: preprocess(x))

In [ ]:
df.to_csv("cleaned_data.csv", index=False)